---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const allPosts = await Astro.glob<{
  title: string;
}>("../pages/posts/*.md");
const pageTitle = "My Astro Learning Blog";
const activeUrl = "/blog";
---

<BaseLayout {activeUrl} {pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>

  <ul>
    {
      allPosts.map((post) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
