---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";

interface Props {
  activeUrl: string;
}

const { activeUrl } = Astro.props;
---

<header>
  <nav>
    <Hamburger />
    <Navigation {activeUrl} />
  </nav>
</header>
